<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>文章列表--layui后台管理模板 2.0</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" th:href="@{/system/layui/css/layui.css}"
	media="all" />
<link rel="stylesheet" th:href="@{/system/css/public.css}" media="all" />
<link rel="stylesheet"
	th:href="@{/common/js/zTree/css/zTreeStyle/zTreeStyle.css}" media="all" />
</head>
<body class="childrenBody">
	<form class="layui-form">
		<blockquote class="layui-elem-quote quoteBox">
			<form class="layui-form">
				<div class="layui-input-inline">
					<div class="layui-input-inline">
						<select id="selectSearch" lay-filter="selectSearch">
							<option value="0">标题</option>
							<option value="1">状态</option>
							<option value="2">消息类型</option>
							<option value="3">时间</option>
							<option value="4">接受人账号</option>
							<option value="5">接受人账号ID</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="title" autocomplete="off"
							placeholder="输入标题搜索" /> 
							<input type="text" autocomplete="off"
							class="layui-input layui-hide" id="send_to"
							placeholder="输入收件人账号搜索" /> 
							<input type="text" autocomplete="off"
							class="layui-input layui-hide" id="receive_account_id"
							placeholder="输入接受人账号ID搜索" />
					</div>
				</div>
				<div class="layui-inline">
					<div class="layui-input-inline layui-hide" id="searchStatus">
						<select id="selectStatus">
							<option value="">请选择</option>
							<option value="0">失败</option>
							<option value="1">成功</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<div class="layui-input-inline layui-hide" id="searchMessageType">
						<select id="selectMessageType">
							<option value="">请选择</option>
							<option value="0">短信</option>
							<option value="1">邮箱</option>
							<option value="2">站内信</option>
						</select>
					</div>
				</div>
				<div class="layui-input-inline">
					<div class="layui-input-inline layui-hide" id="searchTime">
						<div class="layui-inline">
							<input type="text" class="layui-input" autocomplete="off" id="beginTime">
						</div>
						<div class="layui-inline">
							<div class="layui-form-mid">--</div>
						</div>
						<div class="layui-inline">
							<input type="text" class="layui-input" autocomplete="off" id="endTime">
						</div>
					</div>
				</div>
				<a class="layui-btn search_btn" data-type="reload">搜索</a>
			</form>
		</blockquote>
		<table id="smsRecordLogList" lay-filter="smsRecordLogList"></table>
		<!--审核状态-->
		<script type="text/html" id="newsStatus">
		{{#  if(d.newsStatus == "1"){ }}
		<span class="layui-red">等待审核</span>
		{{#  } else if(d.newsStatus == "0"){ }}
		<span class="layui-blue">已存草稿</span>
		{{#  } else { }}
			审核通过
		{{#  }}}
	</script>

		<!--操作-->

	</form>
	<script type="text/javascript" th:src="@{/system/layui/layui.js}"></script>
	<script type="text/javascript"
		th:src="@{/system/js/logs/smsRecordLogList.js}"></script>
	<script type="text/javascript"
		th:src="@{/system/layui/dateformat-min.js}"></script>
</body>
</html>